APP_ENV=local
APP_DEBUG=true
APP_KEY=base64:hkzbARNwNx6SFphF6gFGOikV8Y/v88ELf3UQgWY0yh8=
APP_URL=http://e-asia.kz/

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=easiakz_laravel
DB_USERNAME=easiakz_laravel
DB_PASSWORD=3[m2uR0@#^85

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.mail.ru
MAIL_PORT=465
MAIL_USERNAME=demigod96@bk.ru
MAIL_FROM=demigod96@bk.ru
MAIL_TO=demigod96@bk.ru
MAIL_PASSWORD=Rjcfyjcnhf
MAIL_ENCRYPTION=ssl
MAIL_SUBJECT='Письмо с сайта e-asia.kz'