@import 'other/normalize';

/*core folder*/
@import 'core/variables';
@import 'core/mixins';

/*desctop folder*/
@import 'desctop/common';
@import 'desctop/header';
@import 'desctop/footer';

@import 'other/magnific-popup';
@import 'other/popup';

@import 'desctop/index';
@import 'desctop/flat';
@import 'desctop/calculator';
@import 'desctop/advantages';

@import 'other/fotorama';

.seo-text-wrapper {
  background: #333333;
}
.seo-text {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 100px;
  color: #666666;
  &:empty {
    display: none;
  }
  * {
    color: #666666;
  }
  p {
    line-height: 1.5;
    font-size: 14px;
  }
}