.calculator{
  max-width: 480px;

  &__title{
    color: #333333;
    font-size: 36px;
    text-align: left;
  }

  &__layout-name{
    margin-top: 25px;
  }

  &__hr{
    margin-top: 15px;
    border-top: 1px solid #CCCCCC;
    border-bottom: none;
  }

  &__row{
    margin-top: 25px;
  }

  &__row-title{
    font-family: "ArialBold";
    color: #333333;
  }

  &__flat-cost{}

  &__clarification{
    color: #999999;

    &--yellow-bg{
      padding: 2px 4px;
      color: #333333;
      background-color: #ffe0b2;
    }
  }

  &__calc{
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #bfbfbf;
    font-family: "ArialBold";
    color: #FFFFFF;

    &--active{
      background-color: #ff9900;
    }
  }

  &__payment{
    margin-top: 5px;
    color: #333333;
    font-size: 36px;
  }

  &__payment-dollar{
    color: #999999;
  }
}