.top-flat-navigation {
  background: @shadow no-repeat top center;
  padding-top: 10px;
  .room-count-row {
    display: flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: center;
    -webkit-justify-content: center;
    text-align: center;
    .room-count-item {
      margin: 30px 30px 0;
      .link-wrap {
        display: inline-block;
        font-size: 20px;
        &.active {
          margin: 0;
          a {
            color: #333333;
            background: #ebe6c8;
            padding: 3px 5px;
          }
        }
      }
      .flat-size {
        margin-top: 10px;
      }
    }
  }
  .layout-row {
    padding: 0 20px;
    margin-top: 75px;
    position: relative;
    .price {
      position: absolute;
      width: 170px;
      height: 170px;
      right: 75px;
      top: -100px;
      padding-top: 38px;
      background: @sun no-repeat;
      color: #333333;
      text-align: center;
      line-height: 1.5;
      .metr {
        color: inherit;
        position: relative;
        padding: 0 20px;
      }
      .sum {
        color: inherit;
        font-family: @bold;
        padding: 0 20px;
      }
    }
    .layouts {
      display: flex;
      justify-content: center;
      -webkit-justify-content: center;
      flex-wrap: wrap;
      -webkit-flex-wrap: wrap;
      margin: 0 auto;
      max-width: 700px;
      font-size: 20px;
      .link-wrap {
        margin: 7px 20px;
        &.active {
          margin: 7px 15px;
          a {
            color: #333333;
            background: #ebe6c8;
            padding: 3px 5px;
          }
        }
      }
    }
  }
}
.mobile{
  .layout-map {
    .layout-img {
      box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
    }
  }
}
.layout-map {
  display: flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  align-items: flex-start;
  margin-top: 45px;
  padding: 0 65px;
  .layout-img {
    max-width: 760px;
    box-shadow: 0 0 0 1px transparent;
    transition: box-shadow .4s ease;
    &:hover{
      box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
      cursor: -webkit-zoom-in;
    }

    &:after {
      content:'';
      display:block;
      width:33px;
      height:33px;
      position:absolute;
      top:0;
      right:0;
      background:url(/img/icon.png);
    }

    img {
      max-width: 100%;
    }
  }
  .right-block {
    .flat-conditions {
      width: 260px;
      padding: 20px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      background: #e7f6d5;
      .conditions-item {
        &:not(:first-child) {
          .title {
            margin-top: 30px;
          }
        }
        .title {
          font-family: @bold;
          color: #333333;
          padding: 0;
        }
        .row {
          margin-top: 10px;
          line-height: 1.5;
          .baks {
            white-space: nowrap;
          }
        }
      }
    }
    .legend {
      width: 260px;
      background: #f7f5e9;
      padding: 10px 20px 20px;
      margin-top: 30px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      .designation {
        position: relative;
        &:not(:last-child) {
          margin-top: 15px;
          padding-left: 35px;
        }
        &::before {
          position: absolute;
          left: 0;
          top: -1px;
        }
        &.ns {
          &::before {
            content: @grd_sq;
          }
        }
        &.ms {
          &::before {
            content: @grl_sq;
          }
        }
        &.ok {
          &::before {
            content: @blue_sq;
          }
        }
        &.mu {
          margin-top: 45px;
          line-height: 1.2;
          text-align: center;
          &::before {
            content: @strock;
            top: -25px;
            left: ~'calc(50% - 27px)';
          }
        }
      }
    }
  }
}
.flat-description {
  padding: 65px 100px 0;
  display: flex;
  .scheme {
    text-align: center;
    min-width: 240px;
  }
  .text-blocks{
    display: flex;
    flex-wrap: wrap;
    padding-left: 160px;
    .with-balcony{
      margin-top: 30px;
      width: 100%;
      line-height: 1.5;
      .with-balcony-text{
      }
    }
  }
  .text-block {
    min-width: 170px;
    color: #666666;
    line-height: 1.5;
    font-size: 16px;
    &:nth-child(2) {
      margin-left: 80px;
      width: 50%;
    }
    strong, b {
      color: #333333;
    }
  }
}
.visual-row{
  margin: 30px 65px 0 100px;
  border-bottom: 0;
  border-top: 1px solid #cccccc;
}
.download-wrap {
  text-align: center;
  padding: 60px 0 60px;
  .download {
    color: #333333;
    padding: 13px 25px;
    background-color: #ffcc66;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    &:hover {
      background: #ffd480;
    }
  }
}