.footer {
  background: #f7f5e9;
  font-size: 14px;
  .bottom-row {
    max-width: 1200px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 40px 50px;
    display: flex;
    justify-content: space-between;
    .bottom-text {
      &:nth-child(3) {
        flex-grow: 0.5;
        text-align: right;
      }
      .soc-links {
        a {
          margin-left: 15px;
        }
      }
    }
  }
}